* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, serif;
  background-color: rgb(185, 184, 223) color: inherit;
  line-height: 1.6;
  background: #eee;
}

.container {
  display: grid;
  margin: 0 auto;
  padding: 0 5%;
  background: #eee;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr 100fr;
  grid-gap: 1em;

}

.dashboard_heading {
  grid-column: 1 / 3;
  grid-row: 2;
}

.searchbarcontainer{
  text-align: center;
  margin-top:1%;
  margin-bottom: 1%;
  grid - column: 1 / 3;
  grid-row: 1;

}

#searchbar{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  outline:0;
  width:500px;
  border-radius: 10px;
  border: 1.25px solid black;
  padding-left: 1%;
}

#searchbar:hover{
  box-shadow: 0 0 0.5px 0.5px blue;
}

.stock_data {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  text-align: center;
}

.stock_graph {
  height: 100%;
  grid-column-start: 1;
  grid-row: 2;
  margin-top: 5%;
}

.sentiment_analysis {
  grid-column: 2;
  grid-row:2;
  height: 100%;
  margin-top: 9%;
}

.words {
  grid-column: 2;
  grid-row:2;
  margin-top: 27%;
  margin-bottom: 9%;
}

h1 {
  color: blue;
}
