body{
  margin: 0;
}

#nav{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  cursor: pointer;
}

#nav a{
  margin-right: 20px;

}

#nag a.topimage{
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

#middle{
  margin-top: 200px;
}

#logo{
  text-align: center;
}

#searchbarcontainer{
  text-align: center;
  margin-top:20px;
}

#searchbar{
  padding-top: 10px;
  padding-bottom: 10px;
  outline:0;
  width:500px;
  border-radius: 15px;
  border: 2px solid black;
}

#searchbar:hover{
  box-shadow: 0 0 0.5px 1px blue;
}

#buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* #buttons:hover{
  box-shadow: 0 0 2px 1px blue;
  border: 2px solid black;

} */

.button{
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(0,0,0,0);

}

#links {
  text-align: center;
  margin-top: 10px;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
