<!-- Author Matthew Salazar -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css%22 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Stock Sense!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div id="nav">
      <a class="toplink" href="https://finance.yahoo.com/quote/%5EIXIC?p=%5EIXIC">Top Stocks</a>
    </div>

    <div id="middle">
      <div id="logo">
        <img src="static\Project Logo.PNG" alt="Stock Sense" />
      </div>
      <div id="searchbarcontainer">
        <form action="/etnan" method="post">
          <input list="companies" id="searchbar" name="searchval" value="" />
          <datalist id="companies">
            <option value="{{form.name}}"></option>
          </datalist>

          <div id="buttons">
            <input type="submit" value="Stock Search" class="button" />
            <!-- <div class="button">I Am Feeling Lucky</div> -->
            <button class="button" onclick="myFunction({{form.companies}})">
              I Am Feeling Lucky
            </button>
          </div>
        </form>

        <script>
          function myFunction(companies) {
            const arrOfCompanies = Object.values(companies);
            const randomElement =
              arrOfCompanies[Math.floor(Math.random() * arrOfCompanies.length)];
            document.getElementById("searchbar").value = randomElement;
          }
        </script>
      </div>
      <div id="links">
        Stock Sense is offered for stocks listed on the 
        <a href="https://www.nasdaq.com/" target="_blank">NASDAQ</a>, 
        <a href="https://www.dowjones.com/" , target="_blank">DOW JONES</a>, and 
        <a href="https://finance.yahoo.com/quote/%5EGSPC/" , target="_blank">S&P 500</a>
        <br>
        <p>All rights reserved @StockSense(2021)</p>
      </div>

      <div id="footer"></div>
    </div>
  </body>
</html>
