<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Stock Info {{val}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://unpkg.com/chartjs-plugin-colorschemes@0.4.0/dist/chartjs-plugin-colorschemes.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-tag-cloud.min.js"></script>
  <!-- <link rel="stylesheet" href="Info_Page.css"> -->
  <h1>Stock Info {{val}}</h1>
</head>

<body>
  <div class="searchbarcontainer">
    <input id='searchbar'type="text" name="" value="" placeholder="Search...">
  </div>

  <div class="column">
    <div class="stock_data">
      <h1>Financials</h1>
      <p>{{financedata}}</p>
      

    </div>

    <div class="stock_graph">
      <h1>Graph</h1>
      <canvas id="chart" max-width="4" !important max-height="3" !important style="border:1px solid"></canvas>
      <script>  
      new Chart(document.getElementById("chart"), 
        {
          type: 'line',
          data: 
          {
            labels :{{timestamps|safe}},
            datasets: 
            [
              {
              data : {{data|safe}}, 
              label : '{{val|safe}}',
              borderColor: "#3e95cd",
              fill: true
              }
            ]
          },
          options: 
          {
            title: 
            {
              display: true,
              text: 'Stock Prices over the past 1 day'
            },
            hover: 
            {
            mode: 'index',
            intersect: true
            },
          }
        });
      </script>

    </div>

    
    <div class="sentiment_analysis">
      <h1>Public sentiment</h1>
      <p>Negative : {{neg_percentage}}</p>
      <p>Positive : {{pos_percentage}}</p>
     


    </div>
    <div id = "container1" class="news">
      <h1>News</h1>
      <script>
        var data =  {{wordfrequency|safe}}

        // create a chart and set the data
        chart = anychart.tagCloud(data);

        // set the container id
        chart.container("container1");

        // initiate drawing the chart
        chart.draw();
        
        
      </script>

    </div>

  </div>
</body>

</html>